.navbar{
  height: 50px;
  background-color: #003580;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.navContainer{
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-weight: bold;
  font-size: 32px;
}

.navButton{
  background-color: white;
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
  height: 35px;
  width: 100px;
}
.navButton:hover{
  background-color: #aaaaad;
}